<a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="card" style="width: auto; height: auto;">
        <img class="card-img-top" [src]="product?.img" alt="Card image cap" style="width: auto; height: 400px;">
        <div class="card-body">
            <h5 class="card-title">{{product?.title}}</h5>
            <p class="card-text">{{product?.description}}</p>
            <a href="#" class="btn btn-primary">Ver detalle</a>
            <i class="bi bi-cart-plus float-end fs-4" (click)="addItem(product)"></i>
        </div>
    </div>
</a>